/* ==========================================================================
   #LAYOUT
   ========================================================================== */

/**
 * Control dimensions & spacing, favouring `rem` unit.
 */

$layout-max-width: 144rem;

$spacing-small: .8rem;
$spacing-default: 1.6rem;
$spacing-large: 3.2rem;