/*
 * ------------------------------------------------------------------------
 *   $VARS
 * ------------------------------------------------------------------------
 */

$border-radius-default: .3rem;

$bp-medium: 768px;
$bp-desktop-small: 1024px;
$bp-large: 1280px;
$bp-huge: 1440px;

$color-brand: #F6882D;
$color-brand-white: #F3ECE6;

$color-grey-1: #1A1714;
$color-grey-2: #414042;
$color-grey-3:#a7a7a7;
$color-grey-4: #DEDEDE;

$color-blue: #3cb8cc;
$color-green: #20ad58;
$color-grey: #999999;
$color-grey-dark: #414042;
$color-white: #ffffff; 

$color-site-background: $color-white;
$color-text-default: $color-grey-1;

$font-family-default: 'Roboto', sans-serif;
$font-family-heading: 'Roboto', sans-serif;

$font-size-small: 1.6rem;
$font-size-default: 1.8rem;
$font-size-default-em: 1.6em;
$font-size-heading-mobile: 3rem;
$font-size-heading: 6.2rem;
$font-size-heading-two: 4.8rem;
$font-size-heading-two-mobile: 2.4rem;
$font-size-heading-three: 3.6rem;
$font-size-subheading-mobile: 1.5rem;
$font-size-subheading: 2.4rem;
$font-size-featured-mobile: 2.2rem;
$font-size-featured-tablet: 3.5rem;
$font-size-featured: 6rem;

$font-weight-default: 400;
$font-weight-bold: 700;

$header-height: 70px;

$hero-image-width: 1024px;

$line-height-tight: 1;
$line-height-default: 1.4;
$line-height-loose: 1.7;

$spacing-tiny: .5rem;
$spacing-small: 1rem;
$spacing-default: 2rem;
$spacing-large: 5rem;
$spacing-huge: 10rem;

$width-content: 113rem;
$width-content-narrow: 72.8rem;

$width-google-reviews-triple: 1024px;

$z-index-front: 100;
$z-index-default: 1;
$z-index-under: -1;
$z-index-back: -100;
