/*
 * ------------------------------------------------------------------------
 *   $WPFORMS
 * ------------------------------------------------------------------------
 */

.wpforms-container-full {
    margin-bottom: 0 !important;
}

.wpforms-required-label {
    color: $color-brand !important;
}

.wpforms-form input[type=email],
.wpforms-form input[type=text],
.wpforms-form textarea {
    background-color: $color-brand-white !important;
}

.wpforms-form button[type=submit] {
    padding-bottom: 1rem !important;
    padding-top: 1.2rem !important;
    width: 100% !important;

    background-color: $color-brand !important;
    border: none !important;
    border-radius: $border-radius-default !important;
    text-align: center;
    font-size: $font-size-default !important;
    font-weight: $font-weight-bold;
}