/* ==========================================================================
   #CONTENT/PRICES
   ========================================================================== */

.content--prices {
    &-1 {
        grid-column: 3 / 7;
        grid-row: 1;

        @include bp-min-width($bp-mobile) {
        }
    }

    &-2 {
        grid-column: 8 / 12;
        grid-row-start: 1;
    }
}   