/* ==========================================================================
   #CONTENT/SERVICES
   ========================================================================== */

.content--services {
    &-1 {
        grid-column: 1 / 7;

        @include bp-min-width($bp-tablet) {
            grid-column: 2 / 8;
        }
    }

    &-2 {
        grid-column: 1 / 7;
        grid-row: 2;

        @include bp-min-width($bp-tablet) {
            grid-column: 2 / 6;
        }

        @include bp-min-width($bp-desktop-small) {
            grid-column: 2 / 5;
        }
    }

    &-3 {
        grid-column: 1 / 7;
        grid-row: 3;

        @include bp-min-width($bp-tablet) {
            grid-column: 8 / 12;
            grid-row: 2;
        }

        @include bp-min-width($bp-desktop-small) {
            grid-column: 5 / 9;
            margin-left: $content-gutter;
            margin-right: $content-gutter;
        }
    }

    &-4 {
        grid-column: 1 / 7;
        grid-row: 4;

        @include bp-min-width($bp-tablet) {
            grid-column: 2 / 6;
            grid-row: 3;
        }

        @include bp-min-width($bp-desktop-small) {
            grid-column: 9 / 12;
            grid-row: 2;
        }
    }

    /* box 1 */
    &-5 {
        justify-self: flex-end;
        grid-column: 1 / 7;
        grid-row: 4;
        margin-right: -$content-gutter-small;
        z-index: $z-index-under;

        @include bp-min-width($bp-tablet) {
            grid-column: 7 / 12;
            grid-row: 2;
            margin-right: 0;
        }

        @include bp-min-width($bp-desktop) {
            justify-self: initial;
        }
    }
}   