/* ==========================================================================
   #ICON/SETTINGS
   ========================================================================== */

$icon-flame-width: 3.2rem;
$icon-flame-watermark-width: 42rem;
$icon-star-width: 2.4rem;
$icon-star-width-tablet: 3.2rem;