/*
 * ------------------------------------------------------------------------
 *   $SPACING
 * ------------------------------------------------------------------------
 */

.margin--bottom-tiny { margin-bottom: $spacing-tiny; }
.margin--bottom-small { margin-bottom: $spacing-small; }
.margin--bottom-default { margin-bottom: $spacing-default; }
.margin--bottom-large { margin-bottom: $spacing-large; }
.margin--bottom-huge { margin-bottom: $spacing-huge; }


.margin--bottom-tiny\@medium { 
	@include bp-min-width($bp-medium) {
		margin-bottom: $spacing-tiny;
	}
}
.margin--bottom-small\@medium { 
	@include bp-min-width($bp-medium) {
		margin-bottom: $spacing-small;
	}
}
.margin--bottom-default\@medium { 
	@include bp-min-width($bp-medium) {
		margin-bottom: $spacing-default;
	}
}
.margin--bottom-large\@medium { 
	@include bp-min-width($bp-medium) {
		margin-bottom: $spacing-large;
	}
}
.margin--bottom-huge\@medium { 
	@include bp-min-width($bp-medium) {
		margin-bottom: $spacing-huge;
	}
}


.margin--bottom-tiny\@large { 
	@include bp-min-width($bp-large) {
		margin-bottom: $spacing-tiny;
	}
}
.margin--bottom-small\@large { 
	@include bp-min-width($bp-large) {
		margin-bottom: $spacing-small;
	}
}
.margin--bottom-default\@large { 
	@include bp-min-width($bp-large) {
		margin-bottom: $spacing-default;
	}
}
.margin--bottom-large\@large { 
	@include bp-min-width($bp-large) {
		margin-bottom: $spacing-large;
	}
}
.margin--bottom-huge\@large { 
	@include bp-min-width($bp-large) {
		margin-bottom: $spacing-huge;
	}
}


.margin--bottom-tiny\@huge {
	@include bp-min-width($bp-huge) {
		margin-bottom: $spacing-tiny;
	}
}
.margin--bottom-small\@huge {
	@include bp-min-width($bp-huge) {
		margin-bottom: $spacing-small;
	}
}
.margin--bottom-default\@huge {
	@include bp-min-width($bp-huge) {
		margin-bottom: $spacing-default;
	}
}
.margin--bottom-large\@huge {
	@include bp-min-width($bp-huge) {
		margin-bottom: $spacing-large;
	}
}
.margin--bottom-huge\@huge {
	@include bp-min-width($bp-huge) {
		margin-bottom: $spacing-huge;
	}
}

.margin--bottom-none { margin-bottom: 0 !important; }
.margin--bottom-none\@medium { 
	@include bp-min-width($bp-medium) {
		margin-bottom: 0 !important;
	}
}
.margin--bottom-none\@large { 
	@include bp-min-width($bp-large) {
		margin-bottom: 0 !important;
	}
}
.margin--bottom-none\@huge {
	@include bp-min-width($bp-huge) {
		margin-bottom: 0 !important;
	}
}

.margin--right-tiny { margin-right: $spacing-tiny; }
.margin--right-small { margin-right: $spacing-small; }
.margin--right { margin-right: $spacing-default; }
.margin--right-large { margin-right: $spacing-large; }
.margin--right-huge { margin-right: $spacing-huge; }
.margin--right-none { margin-right: 0; }

.margin--horizontal-none {
	margin-left: auto;
	margin-right: auto;
}

.padding--bottom-tiny { padding-bottom: $spacing-tiny; }
.padding--bottom-small { padding-bottom: $spacing-small; }
.padding--bottom-default { padding-bottom: $spacing-default; }
.padding--bottom-large { padding-bottom: $spacing-large; }
.padding--bottom-huge { padding-bottom: $spacing-huge; }


.padding--bottom-tiny\@medium { 
	@include bp-min-width($bp-medium) {
		padding-bottom: $spacing-tiny;
	}
}
.padding--bottom-small\@medium { 
	@include bp-min-width($bp-medium) {
		padding-bottom: $spacing-small;
	}
}
.padding--bottom-default\@medium { 
	@include bp-min-width($bp-medium) {
		padding-bottom: $spacing-default;
	}
}
.padding--bottom-large\@medium { 
	@include bp-min-width($bp-medium) {
		padding-bottom: $spacing-large;
	}
}
.padding--bottom-huge\@medium { 
	@include bp-min-width($bp-medium) {
		padding-bottom: $spacing-huge;
	}
}


.padding--bottom-tiny\@large { 
	@include bp-min-width($bp-large) {
		padding-bottom: $spacing-tiny;
	}
}
.padding--bottom-small\@large { 
	@include bp-min-width($bp-large) {
		padding-bottom: $spacing-small;
	}
}
.padding--bottom-default\@large { 
	@include bp-min-width($bp-large) {
		padding-bottom: $spacing-default;
	}
}
.padding--bottom-large\@large { 
	@include bp-min-width($bp-large) {
		padding-bottom: $spacing-large;
	}
}
.padding--bottom-huge\@large { 
	@include bp-min-width($bp-large) {
		padding-bottom: $spacing-huge;
	}
}


.padding--bottom-tiny\@huge {
	@include bp-min-width($bp-huge) {
		padding-bottom: $spacing-tiny;
	}
}
.padding--bottom-small\@huge {
	@include bp-min-width($bp-huge) {
		padding-bottom: $spacing-small;
	}
}
.padding--bottom-default\@huge {
	@include bp-min-width($bp-huge) {
		padding-bottom: $spacing-default;
	}
}
.padding--bottom-large\@huge {
	@include bp-min-width($bp-huge) {
		padding-bottom: $spacing-large;
	}
}
.padding--bottom-huge\@huge {
	@include bp-min-width($bp-huge) {
		padding-bottom: $spacing-huge;
	}
}


.padding--top-tiny { padding-top: $spacing-tiny; }
.padding--top-small { padding-top: $spacing-small; }
.padding--top-default { padding-top: $spacing-default; }
.padding--top-large { padding-top: $spacing-large; }
.padding--top-huge { padding-top: $spacing-huge; }


.padding--top-tiny\@medium { 
	@include bp-min-width($bp-medium) {
		padding-top: $spacing-tiny;
	}
}
.padding--top-small\@medium { 
	@include bp-min-width($bp-medium) {
		padding-top: $spacing-small;
	}
}
.padding--top-default\@medium { 
	@include bp-min-width($bp-medium) {
		padding-top: $spacing-default;
	}
}
.padding--top-large\@medium { 
	@include bp-min-width($bp-medium) {
		padding-top: $spacing-large;
	}
}
.padding--top-huge\@medium { 
	@include bp-min-width($bp-medium) {
		padding-top: $spacing-huge;
	}
}


.padding--top-tiny\@large { 
	@include bp-min-width($bp-large) {
		padding-top: $spacing-tiny;
	}
}
.padding--top-small\@large { 
	@include bp-min-width($bp-large) {
		padding-top: $spacing-small;
	}
}
.padding--top-default\@large { 
	@include bp-min-width($bp-large) {
		padding-top: $spacing-default;
	}
}
.padding--top-large\@large { 
	@include bp-min-width($bp-large) {
		padding-top: $spacing-large;
	}
}
.padding--top-huge\@large { 
	@include bp-min-width($bp-large) {
		padding-top: $spacing-huge;
	}
}


.padding--top-tiny\@huge {
	@include bp-min-width($bp-huge) {
		padding-top: $spacing-tiny;
	}
}
.padding--top-small\@huge {
	@include bp-min-width($bp-huge) {
		padding-top: $spacing-small;
	}
}
.padding--top-default\@huge {
	@include bp-min-width($bp-huge) {
		padding-top: $spacing-default;
	}
}
.padding--top-large\@huge {
	@include bp-min-width($bp-huge) {
		padding-top: $spacing-large;
	}
}
.padding--top-huge\@huge {
	@include bp-min-width($bp-huge) {
		padding-top: $spacing-huge;
	}
}

.padding--bottom-none { padding-bottom: 0 !important; }
.padding--bottom-none\@medium { 
	@include bp-min-width($bp-medium) {
		padding-bottom: 0 !important;
	}
}
.padding--bottom-none\@large { 
	@include bp-min-width($bp-large) {
		padding-bottom: 0 !important;
	}
}
.padding--bottom-none\@huge {
	@include bp-min-width($bp-huge) {
		padding-bottom: 0 !important;
	}
}

.padding--top-none { padding-top: 0 !important; }
.padding--top-none\@medium { 
	@include bp-min-width($bp-medium) {
		padding-top: 0 !important;
	}
}
.padding--top-none\@large { 
	@include bp-min-width($bp-large) {
		padding-top: 0 !important;
	}
}
.padding--top-none\@huge {
	@include bp-min-width($bp-huge) {
		padding-top: 0 !important;
	}
}


.padding--horizontal-none {
	padding-left: 0;
	padding-right: 0;
}

.padding--vertical-large { 
	padding-bottom: $spacing-large;
	padding-top: $spacing-large;
}
.padding--vertical-huge { 
	padding-bottom: $spacing-huge;
	padding-top: $spacing-huge;
}