/* ==========================================================================
   #FOOTER/SETTINGS
   ========================================================================== */

$footer-bg-darken-opacity: 5%;
$footer-copyright-border-width: 1px;
$footer-logo-after-bg-opacity: .1;
$footer-logo-after-height: 1px;
$footer-logo-after-top-position: 1rem;
$footer-logo-after-z-index: 1;
$footer-logo-before-width: 50rem;
$footer-logo-before-z-index: 2;
$footer-logo-z-index: 3;
$footer-padding-vertical: 12rem;
$footer-paragraph-margin-bottom: 1rem;