/*
 * ------------------------------------------------------------------------
 *   $ABOUT
 * ------------------------------------------------------------------------
 */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: $spacing-small;

    @include bp-min-width($bp-medium) {
        padding-top: 0;
    }

    h2 {
        margin-bottom: $spacing-default;
        width: 100%;
    }
}