/*
 * ------------------------------------------------------------------------
 *   $CARD
 * ------------------------------------------------------------------------
 */

.card--bio {
    padding-bottom: $spacing-small * 1.2;
    margin-top: $spacing-default * 2;
    max-width: 340px;

    overflow: hidden;

    background-color: $color-brand-white;
    border-radius: $border-radius-default;

    @include bp-min-width($bp-large) {
        margin-top: 0;
    }

    img {
        margin-bottom: $spacing-small * 1.4;

        border-bottom: 5px solid $color-brand;
    }

    h3 {
        margin-bottom: .7rem;
        padding-top: .4rem;

        font-size: 1.8rem;

        @include bp-min-width($bp-medium) {
            
        }
    }

    h3,
    p {   
        padding-left: $spacing-default;
        padding-right: $spacing-default;

        @include bp-min-width($bp-medium) {
            padding-left: $spacing-small * 1.5;
            padding-right: $spacing-small * 1.5;
        }
    }
}