/*
 * ------------------------------------------------------------------------
 *   $FEATURED
 * ------------------------------------------------------------------------
 */

.featured {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;

    @include bp-min-width($bp-medium) {
        grid-template-columns: repeat(12, 1fr);
    }

    @include bp-min-width($bp-desktop-small) {
        padding-left: $spacing-default;
        padding-right: $spacing-default;
    }

    &__offer {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;

        height: 12.3rem;
        max-width: 22rem;
        padding-left: $spacing-default;
        position: relative;
        z-index: $z-index-default;

        font-size: 3rem;

        @include bp-min-width($bp-medium) {
            grid-column: 1 / 13;
            height: 24.5rem;
            max-width: 51rem;

            font-size: 7.2rem;
        }

        @include bp-min-width($bp-desktop-small) {
            margin-bottom: 10rem;
            padding-left: 0;
        }
        
        p {
            margin-bottom: 0;

            font-weight: $font-weight-bold;
            line-height: 1.2;

            text-shadow: 0px 5px 15px #1A1714;
        }
    }

        &__price {
            position: absolute;
            bottom: 0;
            right: .7rem;

            font-size: 8.5rem;
            
            p {
                line-height: 1;
            }

            @include bp-min-width($bp-medium) {
                bottom: -5rem;
                right: 0;

                font-size: 20rem;
            }
        }

    

    &__image {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        overflow: hidden;

        background-color: $color-grey-1;

        @include bp-min-width($bp-medium) {
            grid-column: 1 / 13;
        }

        @include bp-min-width($bp-desktop-small) {
            grid-column: 5 / 13;

            border-radius: $border-radius-default;
        }

        img {
            width: 100%;
            height: auto;

            opacity: .4;

            @include bp-min-width($bp-desktop-small) {
                opacity: .8;
            }
        }
    }

    &__description {
        grid-column: span 1;
        grid-row: 2 / 3;

        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;

        background-color: $color-site-background;
        color: $color-text-default;
        font-size: 1.5rem;
        font-style: italic;

        @include bp-min-width($bp-medium) {
            grid-column: 1 / 13;
        }

        @include bp-min-width($bp-desktop-small) {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            align-self: flex-end;
            padding-left: 0;
        }

        p {
            margin-bottom: 0;
        }
    }
}