/*
 * ------------------------------------------------------------------------
 *   $LOGO
 * ------------------------------------------------------------------------
 */

.logo {
    display: inline-block;
}

.logo--flexiheat {
    height: 50px;
    width: 160px;

    background-image: url(assets/flexiheat-logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo--flexiheat-dark {
    background-image: url(assets/flexiheat-logo-dark.svg);
}

.logo--flexiheat-full-dark {
    width: 200px;
    height: 91px;

    background-image: url(assets/flexiheat-logo-full-dark.svg);
}

.logo--gas-safe {
    height: 50px;
    width: 45px;

    background-image: url(assets/gas-safe-register-logo.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;

    @include bp-min-width($bp-medium) {
        height: 55px;
        width: 49px;
    }
}