/*
 * ------------------------------------------------------------------------
 *   $MENU
 * ------------------------------------------------------------------------
 */

.menu {
	display: flex;
	margin-bottom: 0;

	a {
		padding-bottom: 0;

		border: 0;
		color: $color-grey-dark;
		text-decoration: none;

		&:hover { color: $color-blue; }
	}

	> li {
		margin-left: $spacing-default;

		font-size: $font-size-small;

		@include bp-min-width($bp-medium) {
			margin-left: $spacing-default * 2;

			font-size: $font-size-default;
		}

		&:first-child { margin-left: 0; }
	}
}