/*
 * ------------------------------------------------------------------------
 *   $SECTION
 * ------------------------------------------------------------------------
 */

section,
.section {
	display: block;
}

	.section__content {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: $width-content;
		padding-left: $spacing-small;
		padding-right: $spacing-small;
		position: relative;
		width: 100%;

		&--narrow { max-width: $width-content-narrow; }
		&--full { 
			max-width: 100%; 

			img {
				width: 100%;
			}
		}
	}

.section--masthead {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: $z-index-front - 10;
	
	padding-bottom: 1.2rem;
	padding-top: 1rem;

	background-color: $color-grey-1;
	color: $color-brand-white;

	@include bp-min-width($bp-desktop-small) {
		padding-bottom: $spacing-default;
		padding-top: $spacing-default;
	}

	.section__content {
		text-align: center;

		@include bp-min-width($bp-medium) {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: center;
		}

		p {
			margin-bottom: 0;
		}

		.text--tel,
		.text--hours,
		.text--call-out {
			display: block;
		}

		.text--tel {
			@include bp-min-width($bp-medium) {
				width: 100%;

				font-size: 2.1rem;
			}

			@include bp-min-width($bp-desktop-small) {
				width: auto;

				font-size: 1.8rem;
			}
		}

		.text--hours {
			@include bp-min-width($bp-medium) {
				font-size: 1.8rem;
			}

			@include bp-min-width($bp-desktop-small) {
				margin-left: $spacing-default;
			}
		}

		.text--call-out {
			@include bp-min-width($bp-medium) {
				margin-left: $spacing-small;

				font-size: 1.8rem;
			}

			@include bp-min-width($bp-desktop-small) {
				margin-left: $spacing-default;
			}
		}
	}
}

.section--homepage-content {
	max-width: $width-content-narrow;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3rem;

	@include bp-min-width($bp-medium) {
		padding-bottom: 5rem;
		padding-top: 9rem;
	}

	@include bp-min-width($bp-desktop-small) {
		display: flex;
		justify-content: space-between;
		max-width: $width-content;
	}

	.section__content {
		margin-bottom: 5rem;
		margin-left: 0;
		margin-right: 0;
		padding-left: $spacing-default;
		padding-right: $spacing-default;

		@include bp-min-width($bp-desktop-small) {
			margin-right: 5rem;
			max-width: 60rem;
			padding-right: 0;
		}
	}

	.section__sidebar {
		@include bp-min-width($bp-medium) {
			display: flex;
		}

		@include bp-min-width($bp-desktop-small) {
			max-width: 46rem;
			padding-right: $spacing-default;
		}
	}

		.section--reviews {
			position: sticky;
			top: 10rem;
		}
}

.section--landing-page {
	max-width: $width-content-narrow;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1rem;
	padding-top: 3rem;

	@include bp-min-width($bp-medium) {
		padding-bottom: 5rem;
		padding-top: 9rem;
	}

	@include bp-min-width($bp-desktop-small) {
		display: flex;
		justify-content: space-between;
		max-width: $width-content;
	}

	.section__content {
		margin-bottom: 5rem;
		margin-left: 0;
		margin-right: 0;

		@include bp-min-width($bp-desktop-small) {
			margin-right: 5rem;
			max-width: 57.4rem;
		}
	}

	.section__sidebar {
		@include bp-min-width($bp-medium) {
		}

		@include bp-min-width($bp-desktop-small) {
			max-width: 46rem;
		}
	}

	.section__form {
		margin-bottom: 5rem;
		margin-top: 5rem;
		position: sticky;
		top: 7rem;
		
		padding: 3rem;
		box-sizing: border-box;

		border: 8px solid $color-grey-4;
		border-radius: $border-radius-default;
	}
}

.section--content-form {
	max-width: $width-content;
	margin-left: auto;
	margin-right: auto;

	@include bp-min-width($bp-medium) {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	
	
}

.section--reviews {

	.section__content {
		margin-bottom: 0;
		padding-bottom: 2rem;
		padding-top: 3rem;

		background-color: $color-brand-white;
		border: 8px solid $color-brand-white;

		@include bp-min-width($bp-medium) {
			padding-left: 3rem;
			padding-right: 3rem;
			padding-bottom: 2.5rem;
			padding-top: 3rem;

			border-radius: $border-radius-default;
		}
	}
}

.section--featured {
	position: relative;
	margin-bottom: 3rem;
	
	background-color: $color-grey-1;
	color: $color-brand-white;

	@include bp-min-width($bp-desktop-small) {
		background: linear-gradient(180deg, rgba(26,23,20,1) 80%, rgba(255,255,255,0) 80%);
	}

	.section__content {
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}
}

.section--offers {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: $width-content;
	position: relative;
	width: 100%;
	z-index: $z-index-default;

	.section__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-left: $spacing-default;
		padding-right: $spacing-default;

		div {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;

			margin-bottom: $spacing-tiny;
			padding-bottom: $spacing-tiny * 1.5;
			padding-top: $spacing-tiny * 1.5;

			@include bp-min-width($bp-medium) {
				flex: 1;
				height: 60px;
				width: auto;
				
				text-align: center;
			}
			
			background-color: $color-brand;
			border-radius: $border-radius-default;

			&:nth-child(2) {
				@include bp-min-width($bp-medium) {
					margin: 0 1rem;
				}
			}

			&:nth-child(3) {
				margin-bottom: $spacing-tiny;
			}
		}

		p {
			margin-bottom: 0;

			font-size: 1.6rem;

			@include bp-min-width($bp-medium) {
				font-size: 1.8rem;
				text-align: center;
			}

			@include bp-min-width($bp-large) {
				font-size: 2rem;
			}
		}

		strong {
			@include bp-min-width($bp-medium) {
				display: block;
			}
		}
	}
}

.section--services {
	padding-bottom: $spacing-large;
	padding-top: $spacing-small;

	@include bp-min-width($bp-medium) {
		padding-top: $spacing-small * 3;
	}

	.section__content {
		box-sizing: border-box;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;

		@include bp-min-width($bp-medium) {

		}
	}
}

.section--about {
	padding-bottom: $spacing-large;
	padding-top: $spacing-large;
	
	background-color: lighten($color-grey, 30%);

	.section__content {
		box-sizing: border-box;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.section--footer {
	padding-bottom: $spacing-large;
	padding-top: $spacing-large;

	background-color: lighten($color-grey, 30%);

	.section__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		p {
			margin-bottom: 0;
		}
	}
}

.section--hero {
	min-height: 90vh;
}