/* ==========================================================================
   #GOOGLE-RATING/DEFAULT
   ========================================================================== */

.google-rating {
    display: inline-block;

    @include themify($themes) {
        font-size: themed('fontSize.mobile.small');
    }

    @include bp-min-width($bp-tablet) {
        @include themify($themes) {
            font-size: themed('fontSize.small');
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: $google-rating-ul-margin-bottom;

        @include bp-min-width($bp-tablet) {
            margin-bottom: $spacing-small;
        }

        > li {
            margin-right: $google-rating-list-item-margin-right;
        }
    }

    p {
        margin-bottom: $google-rating-paragraph-margin-bottom;
    }

        strong {
            @include themify($themes) {
                font-size: themed('fontSize.default');
                font-weight: themed('fontWeight.default');
            }

            @include bp-min-width($bp-tablet) {
                @include themify($themes) {
                    font-size: themed('fontSize.h3');
                }
            }
        }

        a {
            @include themify($themes) {
                color: themed('color.white');
            }

            &:hover {
                text-decoration: none;
            }
        }
}