/* ==========================================================================
   #GOOGLE-RATING/SETTINGS
   ========================================================================== */

$google-rating-list-item-margin-right: .5rem;
$google-rating-paragraph-margin-bottom: .4rem;
$google-rating-ul-margin-bottom: .4rem;