/*
 * ------------------------------------------------------------------------
 *   $FOOTER
 * ------------------------------------------------------------------------
 */

footer,
.footer {
	overflow: hidden;
	position: relative;

	background-color: $color-grey-1;
	color: $color-brand-white;
}
		
	.footer__content {
		display: flex;
		justify-content: space-between;

		box-sizing: border-box;
		position: relative;
		z-index: 1; 
		padding-bottom: 1.5rem;
		padding-left: $spacing-default;
		padding-right: $spacing-default;
		padding-top: 1rem;

		font-size: $font-size-small;

		@include bp-min-width($bp-medium) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;

			padding-bottom: 4.4rem;
			padding-top: 2rem;
		}

		@include bp-min-width($bp-desktop-small) {
			margin-left: auto;
			margin-right: auto;
			max-width: $width-content;
			padding-top: 3rem;
		}
	}

		.footer__brand {}
		
			.footer__logo {
				margin-bottom: 1rem;
			}

			.footer__description {
				margin-bottom: 0;

				color: $color-grey-3;
				font-style: italic;
			}

		.footer__gas-safe {
			position: absolute;
			top: 14px;
			right: 2rem;

			@include bp-min-width($bp-medium) {
				position: relative;
				right: initial;
				top: initial;
				
				margin-left: 2rem;
				margin-right: auto;
			}

			@include bp-min-width($bp-desktop-small) {
				margin-left: 4rem;
			}
		}

		.footer__contact {
			display: none;
			text-align: center;

			@include bp-min-width($bp-medium) {
				display: block;
			}
		}

			.footer__tel {
				margin-bottom: .2rem;

				font-size: 1.8rem;
				font-variant-numeric: tabular-nums;
				font-weight: $font-weight-bold;

				@include bp-min-width($bp-medium) {
					margin-bottom: .6rem;

					font-size: 2.6rem;
					text-align: right;
				}
			}

			.footer__hours {
				@include bp-min-width($bp-medium) {
					color: $color-grey-3;
					text-align: right;
				}
			}

		.footer__social {
			display: none;

			@include bp-min-width($bp-desktop-small) {
				display: flex;
				margin-bottom: 1.5rem;
				margin-left: auto;
				margin-right: 4rem;
			}

			svg {
				display: block;
				height: 3rem;
				width: 3rem;

				fill: $color-brand;
			}

			a {
				display: inline-block;
				margin-right: 1rem;
				padding-bottom: 0;

				border-bottom: 0;
				text-decoration: none;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					border-bottom: 0;
					text-decoration: none;
				}
			}
		}