/*
 * ------------------------------------------------------------------------
 *   $HEADER
 * ------------------------------------------------------------------------
 */

header,
.header {
	overflow: hidden;
	position: relative;
	z-index: $z-index-front; /* To ensure the shadow is visible */

	background-color: $color-white;
	box-shadow: 0px 5px 20px 0px rgba($color-grey-dark, 0.2);

	@include bp-min-width($bp-huge) {
		box-shadow: none;
	}
}

	.header__content {
		align-items: flex-end;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		max-width: $width-content;
		padding-bottom: $spacing-small;
		padding-left: $spacing-small;
		padding-right: $spacing-small;
		padding-top: $spacing-small;
		position: relative;
		z-index: 1; 

		font-size: $font-size-default;
	}

		.header__contact {
			display: none;

			@include bp-min-width($bp-medium) {
				display: block;
			}

			text-align: center;

			p {
				margin-bottom: 0;
			}
		}

		.header__social {
			@include bp-min-width($bp-medium) {
				margin-bottom: 1.3rem;
				margin-left: auto;
				margin-right: 2rem;
			}

			svg {
				height: 2rem;
				width: 2rem;

				fill: $color-brand;

				&:last-child {
					margin-left: $spacing-tiny;
				}
			}
		}

.site-title {
	display: none;
	margin-right: auto;

	color: $color-grey-dark;
	font-size: $font-size-small;
	font-weight: 700;

	@include bp-min-width($bp-medium) {
		display: block;
		font-size: $font-size-default;
	}

	a { 
		color: $color-grey-dark;
		text-decoration: none;
	}

	&--small {
		display: block;
		
		@include bp-min-width($bp-medium) {
			display: none;
		}
	}
}

.site-description {
	color: $color-grey-dark;
}
