/*
 * ------------------------------------------------------------------------
 *   $LINK
 * ------------------------------------------------------------------------
 */

a {
	padding-bottom: $spacing-small / 10;

	border: 0;
	color: $color-brand;
	text-decoration: none;

	&:hover {
		border-bottom: 2px solid $color-brand;
		color: $color-grey-dark;
	}
}

.link--blank {
	padding-bottom: 0;

	border: 0;
}

.link--blue {
	padding-bottom: auto;
	
	border: 0;
	color: $color-blue;
}

.link--green {
	padding-bottom: auto;
	
	border: 0;
	color: $color-green;
}

.link--grey {
	padding-bottom: auto;
	
	color: $color-grey-dark;

	&:hover {
		border: 0;
	}
}