/*
 * ------------------------------------------------------------------------
 *   $PARAGRAPH
 * ------------------------------------------------------------------------
 */

p {
	font-weight: $font-weight-default;
	line-height: $line-height-default;
	margin-bottom: $spacing-default;

	&:last-child { margin-bottom: 0; }
}