/* ==========================================================================
   #BOX/SETTINGS
   ========================================================================== */

$box-bg-darken: 5%;

$box-behind-bottom-position: -3.2rem;
$box-behind-left-position: -3.2rem;
$box-behind-right-position: -3.2rem;
$box-behind-top-position: -3.2rem;