/* ==========================================================================
   #OFFERS/SETTINGS
   ========================================================================== */

$offers-bg-darken: 5%;
$offers-border-opacity: .1;

$offers-item-height: 15rem;