/* ==========================================================================
   #LAYOUT/DEFAULT
   ========================================================================== */

.layout,
.layout--inline {
    width: auto;

    @supports (display: grid) {
        display: grid;
    }
}

.layout--inline {
    @supports (display: grid) {
        display: inline-grid;
    }
}

.layout--master {
    @include layout-master();
    padding-bottom: 7rem;
    padding-top: 7rem;
    position: relative;
    z-index: $z-index-default;

    .layout__item {
        width: 100%;

        @supports (display: grid) {
            grid-column: span 6;
            width: auto;

            @include bp-min-width($bp-tablet) {
                grid-column: span 12;
            }
        }
    }   
}

.layout--team {
    z-index: $z-index-front;
}