/* ==========================================================================
   #SECTION/MASTHEAD
   ========================================================================== */

.section--masthead {
    height: $section-masthead-height;
    left: 0;
    padding-bottom: 0;
    padding-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z-index-nav;

    @include themify($themes) {
        background-color: rgba(themed('color.greyDark'), $section-masthead-bg-opacity);
    }

    @include bp-min-width($bp-desktop) {
    }

    .section__content {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        max-width: $content-width-wide;

        > p {
            margin-bottom: 0;

            @include themify($themes) {
                font-size: themed('fontSize.small');
            }
        }
    }
}