/* ==========================================================================
   #SECTION/SETTINGS
   ========================================================================== */

$section-masthead-bg-opacity: .6;
$section-masthead-height: $body-padding-top;

$section-vertical-padding-mobile: 6rem;
$section-vertical-padding: 9rem;