/* ==========================================================================
   #HEADER/DEFAULT
   ========================================================================== */

.header {
    left: 0;
    position: absolute;
    top: $header-padding-top;
    width: 100%;
    z-index: $z-index-front;

    @include layout-master();

    box-sizing: border-box;

    @include bp-min-width($bp-tablet) {
        top: $header-padding-top-tablet;
    }

    @include bp-min-width($bp-desktop-medium) {
        left: 50%;
        
        transform: translateX(-50%);
    }
    
    &__content {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        grid-column: 1 / 7;
        justify-content: center;
        margin: 0 auto;
        max-width: none;
        @include rem(padding-bottom, $header-content-padding-top);
        @include rem(padding-top, $header-content-padding-top);
        position: relative;
        width: 100%;

        @include themify($themes) {
            border-bottom: 1px solid rgba(themed('color.white'), $header-content-border-opacity);
        }

        @include bp-min-width($bp-tablet) {
            align-items: flex-end;
            grid-column: 2 / 12;
            justify-content: space-between;
        }
    }

        &__logo {
            @include rem(max-width, $header-logo-width-mobile);
            position: relative;
            width: 100%;
            z-index: $z-index-front;

            @include bp-min-width($bp-tablet) {
                margin-right: auto;
                @include rem(max-width, $header-logo-width);
            }

            img {
                display: block;
            }
        }

        &__nav-button {
            align-items: center;
            display: flex;
            cursor: pointer;
            position: relative;
            z-index: $z-index-front;
        
            @include bp-min-width($bp-tablet) {
                display: none;
            }

            &:before {
                content: "";
                height: $header-nav-button-height;
                @include rem(margin-right, $header-nav-button-margin-right);
                width: $header-nav-button-width;

                background-image: url('../content/icon-menu.svg');
                background-repeat: no-repeat;
                background-size: 100%;
            }
        }

        nav,
        &__nav {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            z-index: $z-index-default;

            border-top-width: $mobile-nav-padding-top;
            border-top-style: solid;

            @include themify($themes) {
                background-color: themed('color.greyLight');
                border-top-color: themed('color.white');
                font-size: themed('fontSize.default');
            }

            @include bp-min-width($bp-desktop) {
                display: block;
                padding-top: 0;
                position: static;
                height: auto;
                width: auto;

                @include themify($themes) {
                    background-color: transparent;
                }
                border-top: 0;
            }

            a {
                display: block;

                @include themify($themes) {
                    color: themed('color.white');
                    line-height: themed('lineHeight.compact');
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
}

.is-nav-visible {
    nav,
    .header__nav {
        display: block;
    }
}